/* CSS Reset */
* {
    margin: 0; /* removes defult margin */
    box-sizing: border-box; /* makes elements size include padding and border */
}

body{
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    background-color: rgb(70, 70, 70);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list {
    background-color: rgb(41, 41, 41);
    flex-grow: 1;
    border-radius: 20px;
    padding: 50px 20px;
    overflow-y: auto;
}

.form-box {
    background-color: rgb(41, 41, 41);
    padding: 50px 20px;
    border-radius: 20px;

}

.task-item {
    background-color: cornflowerblue;
    margin-bottom: 4px;
    padding: 10px 4px;
    border-radius: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.task-item input {
    width: 20px;
    height: 20px;
}

.task-item label {
    font-size: 20px;
}

.form-box {
    display: flex;
}

.form-box input {
    flex-grow: 1;
    font-size: 20px;
    border-radius: 8px;
    padding: 4px;
}

.form-box button {
    background-color: inherit;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    width: 80px;
    font-size: 24px;
}

@keyframes slide-right {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(150%);
    }
}

.remove {
    animation: slide-right 1s;
    animation-delay: 100ms;
}